<%- include("partials/header.ejs") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" style="color: white;">
            <h1>About Me</h1>
            <p>Welcome to our campus events website! I , Keshav am dedicated to bringing you the latest and most exciting events happening on our campus.</p>
            <p>My mission is to provide a platform where students, faculty, and the community can discover, participate in, and celebrate the diverse range of events that our campus has to offer.</p>
            <p>Whether it's academic lectures, sports tournaments, cultural festivals, or social gatherings, I aim to keep you informed about all the happenings on our campus.</p>
            <p> You can contact me through the following handles </p>
            <div class="social_icon ">
                
                <a href="https://github.com/keshav-1210" target="_blank"><ion-icon name="logo-github" size="large"></ion-icon></a>
                <a href="https://www.linkedin.com/in/keshav-choudhary-3a093424a/" target="_blank"><ion-icon name="logo-linkedin" size="large"></ion-icon></a>
                
              </div>
            
        </div>
        <div class="col-md-6">
           
        </div>
    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>