<%- include("partials/header.ejs") %>
<div><h1 class="text-center mt-5" style="color: white; " id="element"> Welcome <%= locals.name %>  </h1></div>
        
     
      <div id="mainbody " class="flex2">
        <div><h2 class="text-center" style="color: white;"> Upcoming Events</h2></div>
        
        
      
        <div class="flex">
            <div class="card mt-5 mb-5"id="card" style="width: 18rem;">    
                <img src="wsc.jpg" class="card-img-top " alt="...">
                <div  class="card-body">
                  <h5 class="card-title">Stock Market Workshop</h5>
                  <p class="card-text">Date: 8th September <br>
                    Time: 9:00 PM<br>
                    Venue: F-106</p>
                  <a href="https://www.facebook.com/groups/bphcshoutbox" class="btn btn-primary">FB link</a>
                </div>
              </div>
              <div class="card mt-5 mb-5 " id="card" style="width: 18rem;">
                <img src="csa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Sipmplifying Data</h5>
                  <p class="card-text">Date - 8th September, 2023<br>

                    Time - 5 pm <br>
                    Venue - F108</p>
                    <a href="https://www.facebook.com/groups/bphcshoutbox" class="btn btn-primary">FB link</a>
                </div>
              </div>
              <div class="card mt-5 mb-5"id="card" style="width: 18rem;">
                <img src="janmanshtmi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Janmashtmi Celebration</h5>
                  <p class="card-text">Date - 9th September, 2023<br>

                    Time - 6 pm <br>
                    Venue - F105</p></p>
                    <a href="https://www.facebook.com/groups/bphcshoutbox" class="btn btn-primary">FB link</a>
                </div>
              </div>
              <div class="card mt-5 mb-5"id="card" style="width: 18rem;">
                <img src="safl.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Language Workshop</h5>
                  <p class="card-text">Date - 9th September, 2023<br>

                    Time - 5pm<br>
                    Venue - F102</p>
                    <a href="https://www.facebook.com/groups/bphcshoutbox" class="btn btn-primary">FB link</a>
                </div>
              </div>



        </div>
        <div class="flex">
            <div class="card mt-5 mb-5" id="card" style="width: 18rem;">
                <img src="magic club.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Magic Club</h5>
                  <p class="card-text">Date - 5th September, 2023<br>

                    Time - 6 pm <br>
                    Venue - F103</p>
                    <a href="https://www.facebook.com/groups/bphcshoutbox" class="btn btn-primary">FB link</a>
                </div>
              </div>
              <div class="card mt-5 mb-5" id="card" style="width: 18rem;">
                <img   src="ttinduction.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">TT induction </h5>
                  <p class="card-text">Date - 6th September, 2023<br>

                    Time - 6 pm <br>
                    Venue - SAC</p>
                    <a href="https://www.facebook.com/groups/bphcshoutbox" class="btn btn-primary">FB link</a>
                </div>
              </div>
             
              
              
            </div>
            
          </div>
          <script src="content/js/jquery.min.js"></script>
          <script src="content/js/bootstrap.min.js"></script>
          <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<script>
  console.log(name)  
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>